# Virtual Environment
djvenv/
venv/
env/

# Environment variables
.env
.env.local
.env.*.local

# Django
*.log
staticfiles/
media/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Database
db.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db